.App {
  text-align: center;
  font-family: Arial, sans-serif;
  background-image: url("../public/fractal-1280076.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  user-select: none;
  cursor: default;
}
