.vertical-line-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 50px;
}

.vertical-line {
  width: 1px;
  height: 95vh;
  background-color: rgba(148, 148, 148, 0.478);
  transition: transform 0.3s ease-in-out;
}

.date {
  margin-top: 10px;
  color: white;
}
